.resultado {
    background-color: white;
    width: 350px;
    margin: 50px auto;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px #cccccc;
}

.resultado h1 {
    text-align: center;
    color: #2f80ed;
    margin-bottom: 20px;
}

.resultado p {
    background-color: #f2f4f8;
    padding: 10px;
    border-radius: 5px;
    color: #333333;
    font-weight: normal;
}